<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.zerock.mapper.AdminMemberMapper">

<insert id="join">
	insert into member 
		(id,pass,name,email,zipcode,zipcode1,zipcode2,zipcode3,zipcode4,phone,signdate,member_type,level,c_number) 
		values 
		(#{id},#{pass},#{name},#{email},#{zipcode},#{zipcode1},#{zipcode2},#{zipcode3},#{zipcode4},#{phone},#{signdate},#{member_type},#{level},#{c_number})
</insert>

<select id="onemember" resultType="MemberVO">
	select * from member where id=#{id}
</select>

<update id= "modify">
	update member 
	set pass=#{pass},name=#{name},email=#{email},zipcode=#{zipcode},zipcode1=#{zipcode1},zipcode2=#{zipcode2},zipcode3=#{zipcode3},zipcode4=#{zipcode4},phone=#{phone},c_number=#{c_number} 
	where id=#{id}
</update>

<update id="delete">
	update member set pass='',name='',email='',level=1,zipcode='',zipcode1='',zipcode2='',zipcode3='',zipcode4='',phone='',signdate='',c_number='',delete_id='y' 
	where id=#{id}
</update>

<select id="countMember" resultType="int">
		select count(*) from member
</select>

<select id="listAll" resultType="MemberVO">
	select * from member order by level desc limit #{pageStart}, #{perPageNum}
</select>

<select id="countMemberRemain" resultType="int">
	select count(*) from member where delete_id='n'
</select>

<select id="listRemain" resultType="MemberVO">
	select * from member where delete_id='n' order by level desc limit #{pageStart}, #{perPageNum}
</select>

<select id="countMemberDelete" resultType="int">
	select count(*) from member where delete_id='y'
</select>

<select id="listDelete" resultType="MemberVO">
	select * from member where delete_id='y' order by level desc limit #{pageStart}, #{perPageNum}
</select>

<update id="levelChange">
	update member set level=#{level} where id=#{id};
</update>

<update id="pointPlus">
	update member set point = point +#{point} where id=#{id}
</update>
</mapper>