@charset "UTF-8";

a{
	text-decoration: none;
	
}
body{
	
	padding: 0px;
	margin: 0px;
}
.title{
	background-color: black;
	color:white; 
	padding-top:10px;
	text-align: left;
	height: 30px;
	padding-left: 20px;
	font-weight: bold;
	
	
}

.titleContainer{
	display:inline-flex;
	width: 1200px; 
	background-color: #FAFAFA;
	height: 50px;
	align-items: center;
	border-top: 1px solid #E8E8E8;
	border-bottom: 1px solid #E8E8E8;
	
}
.itemContainer{
	display:inline-flex;
	width: 1200px; 
	border-bottom: 1px solid #E8E8E8;
	align-items: center;
}
.adStatus{
	width: 50px;
	
}
.subject{
	width: 100px;
}
.name{
	width: 100px;
}
.phone{
	width: 200px;
}
.mode{
	width: 100px;
}
.addrTitle{
	width:650px;
}
.addritem1{
	width: 50px;
}
.addritem2{
	width: 150px;
}
.nolist{
	width: 1200px;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #E8E8E8;
}