@charset "UTF-8";

.titleContainer{
	display: inline-flex;
	width: 1800px;
	border:1px solid;
	background-color: #E8E8E8;
	font-weight: bold;
}

.itemContainer{
	display: inline-flex;
	width: 1800px;
	border-bottom: 1px solid #E8E8E8;
	align-items: center;
}
.imgStyle{
	width: 200px;
}
.imgSize{
	width: 150px;
	height: 150px;
}
.itemInfo{
	width: 600px;
}
.price{
	width: 100px;
}
.qty{
	width: 100px;
}
.point{
	width: 100px;
	
}
.delivery{
	width: 200px;
}
.sumPrice{
	width: 200px;
}
.selection{
	width: 300px;
}
.orderBtn{
	width: 100px;
	height: 40px;
	background-color: black;
	color: white;
	cursor: pointer;
	border:1px solid #E8E8E8;
	border-radius: 5px;
	margin-top:15px;
	margin-bottom: 5px;
	
}
.jjimBtn{
	width: 100px;
	height: 40px;
	background-color: white;
	cursor: pointer;
	border:1px solid #E8E8E8;
	border-radius: 5px;
	margin-bottom: 5px;
}
.deleteBtn{
	width: 100px;
	height: 40px;
	background-color: white;
	cursor: pointer;
	border:1px solid #E8E8E8;
	border-radius: 5px;
	margin-bottom: 15px;
}
.qtyContainer{
	display: inline-flex;
/* 	align-items:flex-start; */
	justify-content:center;
	width: 100px;
}
.qtyStyle{
	width: 27px;
}
.qtyBtn{
	height: 22px;
}
.btnSize{
	margin-top:0px;
	padding-top:0px;
	height: 10px;
	border: 1px solid;
}
.qtyBtnStyle{
	width: 20px;
	height: 10px;
	cursor: pointer;
	/* border: 1px solid; */
	transform:translateY(-8px);
}
.cartCheck{
	width: 1800px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.totalProductContainer{
	display:inline-flex;
	width: 1800px;
	height: 60px;
	background-color: #FAFAFA;
	color: gray;
	border-bottom: 1px solid #E8E8E8;
	border-top: 1px solid #E8E8E8;
	margin-top: 40px;
}
.totalProductValue{
	display:inline-flex;
	width: 1800px;
	height: 70px;
	border-bottom: 1px solid #E8E8E8;
}
.allproductPrice{
	width: 300px;
	line-height: 60px;
}
.alldelivery{
	width: 300px;
	line-height: 60px;
}
.wholePrice1{
	width: 1200px;
	line-height: 60px;
}
.allproductPrice2{
	width: 300px;
	line-height: 60px;
	font-weight: bold;
	font-size: 30px;
	
}
.alldelivery2{
	width: 300px;
	line-height: 60px;
	font-weight: bold;
	font-size: 30px;
}
.wholePrice2{
	width: 1200px;
	line-height: 60px;

}
.wholePrice{
	outline: none;
	border:0px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}
.bottomBtnContainer{
	margin-top:40px;
	width: 1800px;
	display: inline-flex;
}
.cartAllDelete{
	width: 120px;
	height: 50px;
	background-color: white;
	border:1px solid #E8E8E8;
	border-radius: 5px;
	justify-content: flex-start;
	margin-right: 650px;
	cursor: pointer;
	
}
.allOrderBtn{
	width: 160px;
	height: 50px;
	background-color: black;
	color: white;
	border-radius: 5px;
	margin-right: 5px;
	cursor: pointer;
}
.selectOrderBtn{
	width: 160px;
	height: 50px;
	background-color: white;
	border:1px solid #E8E8E8;
	border-radius: 5px;
	cursor: pointer;
	
}
.total_priceInput{
	outline: none;
	border: 0px;
	text-align: center;
	font-size: 17px;
	
}