@charset "UTF-8";

.sellContainer{
	display: inline-flex;
}

.mainImgSize{
	width: 618px;
	height: 615px;
}
.detailImgContainer{
	display: inline-flex;
	justify-content: flex-start;
	/* border: 1px solid; */
	width: 618px;
	cursor: pointer;
}

.detailImg{
	width: 80px;
	height: 80px;
}
.itemInfo{
	width: 618px;
	/* height: 696px; */
	margin-left: 50px;
}
.viewSubject{
	font-size: 20px;
	font-weight: bold;
	text-align: left;
	margin-bottom: 10px;
}
.viewComment{
	height: 30px;
	border-bottom: 1px solid;
	margin-bottom: 10px;
	padding-bottom:15px;
	text-align: left;
}
.viewPrice{
	text-align: left;
	margin-top: 10px;
	display: inline-flex;
}
.viewPriceInfo{
	text-align:left;
	/* border: 1px solid; */
	width: 618px;
	
	
}
.viewPriceStyle{
	font-weight: bold;
	margin-bottom: 5px;
	font-size: 15px;
	
}
.viewInfoContainer{
	width: 200px;
	/* border: 1px solid red; */
}
.orderInfo{
	margin-bottom: 5px;
	font-size: 15px;
}
.orderSelect{
	width: 618px;
	display: inline-flex;
	border-top:1px solid #E8E8E8;
	border-bottom:1px solid;
	margin-top:15px;
	padding-top:15px;
	height: 50px;
	/* border: 1px solid; */
}
.orderSelect2{
	width: 200px;
	text-align: left;
	font-size: 15px;
/* 	border: 1px solid red; */
}
.selectBox{
	width:415px;
	height:35px;
	border:1px solid #E8E8E8;
	border-radius: 5px;
	
}
.minQty{
	width: 618px;
	height: 40px;
	text-align: left;
	padding-top: 15px;
	font-size: 13px;
}
.introduceOption{
	width:618px;
	text-align: left;
	margin-bottom: 10px;
	font-size: 13px;
}

.selectContainer{
	width: 618px;
	height: 70px;
	background-color: #F6F6F6;
	/* border-bottom: 1px solid gray; */
	margin-bottom: 5px;
	
}
.detailContainer{
	display: inline-flex;
	align-items: center;
}
.detailSubject{
	width: 427px;
}
.qtyContainer{
	
	display: inline-flex;
/* 	line-height: 70px; */
 	/* border: 1px solid; */
/* 	height: 70px; */
	align-items:flex-start;
	
}
.qtyStyle{
	width: 27px;
}
.qtyBtn{
	/* border: 1px solid red; */
	height: 22px;
	

}

.qtyBtnStyle{
	width: 20px;
	height: 10px;
	cursor: pointer;
	/* border: 1px solid; */
	transform:translateY(-8px);
}
.priceStyle{
	/* border: 1px solid; */
	margin-left: 10px;
	align-items: center;
	line-height: 70px;
	height: 70px;
	width: 100px;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
}
.priceInputStyle{
	outline: none;
	border:0px;
	background-color: #F6F6F6;
	width: 100px;
}
.optionSelectSubject{
	font-weight: bold;
	text-align: left;
}
.optionColor{
	text-align: left;
}
.btnSize{
	margin-top:0px;
	padding-top:0px;
	height: 10px;
	border: 1px solid;
}
.deleteBtnContainer{
	height: 30px;
	margin-left: 10px;
}
.deleteBtn{
	width:12px;
	height: 12px;
	cursor: pointer;
}
.totalPrice{
	width: 618px;
	height: 40px;
	display: inline-flex;
	padding-top:10px;
	/* border: 1px solid; */
}
.totalPriceSubject{
	width: 500px;
	text-align: right;
	font-weight: bold;
	padding-right: 10px;
	/* border: 1px solid red; */
}
.wholePrice{
	font-size: 20px;
	font-weight: bold;
	margin-right: 5px;
	
}
.wholePriceStyle{
	outline: none;
	border:0px;
/* 	background-color: #F6F6F6; */
	width: 100px;
	font-size: 20px;
	text-align: right;
}
.totalQty{
	width: 60px;
}

.wholeQtyStyle{
	width: 20px;
	outline: none;
	border:0px;
	font-size: 15px;
	text-align: right;
}
.orderBtnContainer{
	display: inline-flex;
	width: 618px;
	justify-content: space-between;
}
.orderBtnBaro{
	width: 200px;
	height: 60px;
	border-radius: 5px;
	border:1px solid black;
	background-color: black;
	color:white;
	cursor: pointer;
}
.orderBtnEtc{
	width: 200px;
	height: 60px;
	border-radius: 5px;
	border: 1px solid #D3D3D3;
	background-color: white;
	cursor: pointer;
}
.payAPI{
	display: inline-flex;
	width: 618px;
	justify-content: space-around;
	margin-top:20px;
	padding-top: 20px;
}
.naverPay{
	background-color: green;
	color: white;
	width:200px;
}
.kakaoPay{
	background-color: yellow;
	width: 200px;
}
.detailItemContainer{
	display: inline-flex;
	width: 842px;
	/* border: 1px solid; */
	justify-content: center;
}
.detailInfo{
	margin: 10px;
	font-size: 15px;
}
.detialImg{
	width: 842px;
}
.bottomInfo{
	width: 1000px;
	background-color: #FAFAFA;
}
.bottomInfoTitle{
	width:800px;
	text-align: left;
	font-weight: bold;
	border-bottom: 1px solid gray;
	padding-bottom: 10px;
	margin-top: 15px;
	padding-top: 15px;
}
.bottomInfoContent{

	width:800px;
	
	white-space:pre-wrap;
	font-size:13px;
	text-align: left;
	/* border: 1px solid red; */
}
.bottomMenuContainer{
	width: 1800px;
/* 	background-color: #FAFAFA; */
}
.bottomMenuTitle{
	font-size: 20px;
	font-weight: bold;
	padding: 40px;
}
.writeBtn{
	width: 142px;
	height: 55px;
	background-color: white;
	margin: 10px;
	border:1px solid #D3D3D3;
	border-radius: 5px;
	cursor: pointer;
}
.viewBtn{
	width: 142px;
	height: 55px;
	background-color: black;
	color: white;
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
}
.noticeContainer{
	display: inline-flex;
	width: 1800px;
	border-bottom: 1px solid #D3D3D3;
	border-top: 1px solid #D3D3D3;
	height: 50px;
	line-height: 50px;
}
.noticeNum{
	width: 100px;
}
.noticeSubject{
	width: 1100px;
	text-align: left;
}
.noticeName{
	width: 200px;
}
.noticeSigndate{
	width: 200px;
}
.noticeRef{
	width: 100px;
}
.reviewContainer{
	display: inline-flex;
	width: 1800px;
	border-bottom: 1px solid #D3D3D3;
	border-top: 1px solid #D3D3D3;
	height: 50px;
	line-height: 50px;
/* 	border: 1px solid; */
	
}
.reviewSubject{
	margin-left: 15px;
}
.reviewContent{
	margin-left: 15px;
	font-size: 13px;
	color: gray;
}
.reviewScore{
	margin-left: 20px;
}