@charset "UTF-8";

.joinTitle{
	font-family:'anemone';
	font-size: 30px;
	font-weight: bold;
	width:1000px; 
	height:80px;
	justify-content: center;
	
}
.joinContainer{
	border-top:1px solid #E9E9E9;
	border-bottom:1px solid #E9E9E9;
	width:1000px;
	display: inline-flex;
	height:50px;
	text-align: left;
/* 	border: 1px solid green;  */
	line-height: 50px;
}
.joinContainerAddr{
	border-top:1px solid #E9E9E9;
/* 	border-bottom:1px solid #E9E9E9; */
	width:1000px;
	display: inline-flex;
	height:150px;
	text-align: left;
/*  	border: 1px solid green;  */
	line-height: 150px;
}

.addrContainer{
	margin-top:10px;
	margin-left:20px;
	display: flex;
	width:450px;
	flex-direction: row;
	flex-wrap: wrap;
	height:150px;
/* 	border: 1px solid red;  */
}

.memberType{
	background-color: #FAFAFA;
	width:150px;
	text-align: center;
	
}

.joinContainerInfo{
	border-top:1px solid #E9E9E9;
	width:1000px;
	display: inline-flex;
	height:70px;
	text-align: left;
	line-height: 70px;
	/* border: 1px solid red; */
}
.joinInput{
	border:1px solid #E8E8E8;
	border-radius:5px;
	width:200px;
	height:40px;
	margin-left: 20px;
	outline: none;
	
}
.checkResult{
	margin-left: 20px;
	
}
.addrInput{
	width:200px;
	margin-left:5px;	
	margin-right:5px;
	height:30px;
	border:1px solid #E8E8E8;
	outline: none;
	border-radius: 5px;

	/* border:1px solid green; */
	
}
.addrBtn{
	margin-left:5px;	
	height:30px;
}

.phoneInput{
	margin-left:20px;
	width:100px;
	height:40px;
	border:1px solid #E8E8E8;
	border-radius:5px;
}
.joinContainerEmail{
	border-top:1px solid #E9E9E9;
/* 	border-bottom:1px solid #E9E9E9; */
	width:1000px;
	display: flex;
	height:100px;
	text-align: left;
	/* border: 1px solid green;  */
	line-height: 100px;
	
}

.emailContainer{
	margin-top:10px;
	margin-left:20px;
	display: inline-flex;
	width:450px;
	flex-flow: row wrap;
	height:100px;
	align-content: stretch;
 	/* border: 1px solid red; */
 	
}
.mailInput{
	
	margin-right:10px;
	width:100px;
	height:30px;
	border:1px solid #E8E8E8;
	border-radius:5px;
}

.mailIDomain{
	margin-left:10px;
	width:150px;
	height:35px;
	
}

.mailInput2{
	margin-right:10px;
	width:200px;
	height:30px;
	border:1px solid #E8E8E8;
	border-radius:5px;
}



.mailBtn{
	margin-left: 10px;
	height:35px;
	
}

.joinOkBtn{
	background-color: black;
	color: white;
	width:200px;
	height:50px;
	
	
}
.adminJoinContainerEmail{
	border-top:1px solid #E9E9E9;
/* 	border-bottom:1px solid #E9E9E9; */
	width:1000px;
	display: flex;
	height:50px;
	text-align: left;
	/* border: 1px solid green; */ 
	line-height: 50px;
	
}
.adminEmailContainer{
	margin-top:10px;
	margin-left:20px;
	display: inline-flex;
	width:450px;
	flex-flow: row wrap;
	height:30px;
	align-content: stretch;
 	/* border: 1px solid red; */
 	
}
.cnumberInput{
	margin-left:20px;
	width:147px;
	height:40px;
	border:1px solid #E8E8E8;
	border-radius:5px;
}